.page-title {
  font-size: 51px;
  color: #282828;
  text-align: center;
}

.artist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artist-link {
  text-decoration: none;
  margin: 10px;
}

.artist-card {
  background-color: #282828;
  border-radius: 8px;
  padding: 16px;
  width: 100px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.artist-image {
  width: 100px;
  border-radius: 8px;
}

.artist-name {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.add-artist-btn a {
  color: #ffffff;
  text-decoration: none;
}

.flex-center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artist-text {
  text-indent: 20px;
  color: #282828;
  text-align: left;
  margin-left: 10px;
}

.artist-text a {
  text-decoration: none;
}

.artist-url {
  font-size: 16px;
  text-align: center;
  color: rgb(162, 162, 162);
}

.add-artist-btn {
  background-color: #282828;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
}

.button-style {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
