.event-card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.event-card-link a {
  font-weight: 700;
  text-decoration: none;
  color: var(--text-color);
}
.event-card-link a:hover {
  color: var(--text-color);
  text-decoration: underline;
}
.event-card-info > h2 {
  margin-top: 0;
}
.event-card-info > p {
  margin: 0;
}
