.event-card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 10px;
}
.event-img {
  border-radius: 50%;
  margin-right: 30px;
  width: 150px;
  height: 150px;
  background-size: cover;
}
.event-card-link a {
  font-weight: 700;
  text-decoration: none;
  color: var(--text-color);
}
.event-card-link a:hover {
  color: var(--text-color);
  text-decoration: underline;
}
.event-card-info > h2 {
  margin-top: 0;
}
.event-card-info > p {
  margin: 0;
}
