.event-card {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 10px;
}
.event-img {
  border-radius: 50%;
  margin-right: 30px;
  width: 150px;
  height: 150px;
  background-size: cover;
}
.addEvent {
}
