.event-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.event-page-pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.event-filter {
  margin: 10px 15px;
  display: flex;
}

.event-filter > input {
  flex-grow: 1;
  height: 3em;
  font-weight: bold;
}

.add-new-form {
  display: flex;
  flex-direction: column;
}
